a {
    color: #39A2DB;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
}

a:hover {
    color: #E8F0F2;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #111312
}

h1 {
    line-height: 2;
    color: #E8F0F2;
    font-size: 5.625rem;
    width: 50%;
    margin: 25px auto 0 auto;
    font-family: 'Sacramento', cursive;
    
}

.h2-title {
    font-weight: normal;
    color: #E8F0F2;
}

h2 {
    color:#39A2DB;
    font-weight: normal;
    font-size: 2.5rem ;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}


h3 {
    color: #39A2DB;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #A2DBFA 10px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    
    
}

p {
    line-height: 2;
  }



.top-container {
    background-color: #A2DBFA;
    position: relative;
    padding-top: 100px;
     
}

.middle-container {
    padding: 20px 0;
    background-color: #E8F0F2;
    
}

.bottom-container {
    background-color: #A2DBFA;
    padding: 50px 0 20px;
    margin-bottom: 0;
}


.intro {
    margin: auto;
    width: 25%;
    
}



.code-image {
    background-color: #A2DBFA;
    border-radius: 50%;
    width: 75px;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    
}

.photo-image {
    background-color: #A2DBFA;
    border-radius: 50%;
    width: 75px;
    float: right;
    margin-right: 30px;
}

.photo-text {
    margin-left: 30%;
}

.code-text {
    margin-left: 30%;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px
}

.h2-contact {
    color: #39A2DB;
}

.course {
    padding-top: 20px;
}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.signature {
    font-size: 0.75rem;
    color: #E8F0F2;
    padding-top: 30px;
}

.graduation-image {
    background-color: #A2DBFA;
    border-radius: 50%;
    width: 9%;

}


.email-image{
    background-color: #A2DBFA;
    border-radius: 50%;
    width: 15%;
}

.contact-text {
    
    margin-bottom: 50px;
    
}

.dot1 {
    height: 15px;
    width: 15px;
    background-color:#A2DBFA;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px;
    margin-left: 10px;
  }

.dot2 {
    
    height: 15px;
    width: 15px;
    background-color: #83cff8;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px;
    
}

.dot3 {
    
    height: 15px;
    width: 15px;
    background-color: #65c5f8;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1px;
    
}

.dot4 {
    
    height: 15px;
    width: 15px;
    background-color: #4bbdfa;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px;
    
}